<div id="popupAjoutQuete" class="popup-wrapper">
    <div class="popup-absolute">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ajout quete
                            <div class="close-popup">&#xf00d</div>
                        </div>
                        <div class="panel-body">  
                            <form action="/guildmaster/gestion/quete/ajout/validation" method="post">
                                <div class="col-sm-12 input-popup">
                                    <label for="name">Nom :</label>
                                    <input type="text" name="name" id="nameAjout" class="form-control" autofocus required>
                                </div>
				 <div class="col-sm-12 input-popup">
                                    <label for="summary">R&eacutesum&eacute :</label>
                                    <input type="textarea" name="summary" id="summaryAjout" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="duree">Dur&eacutee en secondes:</label>
                                    <input type="time" name="duree" id="dureeAjout" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="procStr">Proc Force:</label>
                                    <input type="float" name="procStr" id="procStr" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="procInt">Proc Intelligence:</label>
                                    <input type="float" name="procInt" id="procInt" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="procEnd">Proc Endurance:</label>
                                    <input type="float" name="procEnd" id="procEnd" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="procLuk">Proc Chance:</label>
                                    <input type="float" name="procLuk" id="procLuk" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="procDex">Proc Dexterite:</label>
                                    <input type="float" name="procDex" id="procDex" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="difficulty">Difficult&eacutee:</label>
                                    <input type="time" name="difficulty" id="difficultyAjout" class="form-control" required>
                                </div>
				<div class="col-sm-12 input-popup">
                                    <label for="experience">Experience :</label>
                                    <input type="number" name="experience" id="experienceAjout" class="form-control" required>
                                </div>
                                <div class="col-sm-12 input-popup">
                                    <label for="gold">Or :</label>
                                    <input type="number" name="gold" id="goldAjout" class="form-control" required>
                                </div>     
                                <div class="col-sm-12 text-center btn-popup">
                                    <button class="btn btn-lg btn-default" type="submit">Confirmer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>