<!DOCTYPE html>

<html>
    <head>
        <title>Connexion</title>

     <% include ./header.ejs %>

  
       <form action="/guildmaster/connexion/validation" method="post">
            <p>
                <label for="connect">pseudo </label>
                <input type="text" name="pseudo" id="pseudo" autofocus /><br> 	   
	    </p>
	    <p>
		<label for="connect">mot de passe </label>
                <input type="password" name="MdP" id="MdP" /><br>
 	    </p>
	    <p>
		<input type="submit" />
            </p>
        </form>
     </body>

</html>
