<div id="popup-background"></div>

<% include ./styles.ejs %>
<% include ./scripts.ejs %>

<nav id="primary-bar" class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  		</div>
  		<ul class="nav navbar-nav navbar-left">
  			<li><a href="/guildmaster/accueil" id="icon-home"><img class="img-responsive" src="/favicon-32x32.png"></a></li>
			<%  if(user['gold']){   %>
			<li><%= user['gold']%> pieces d'or</li>
			<%  }  %>
  		</ul>
  		<ul class="nav navbar-nav navbar-right">
  			<% if(user['role']=='anonyme'){ %>
  			<li><a id="buttonInscription" class="lien-actif texte-header">Inscription</a></li>
  			<li><a id="buttonConnexion" class="texte-header">Connexion</a></li>
			<%  } if(user['role']=='admin'){   %>
			<li><a href="/guildmaster/gestion" class="texte-header">Gestion</a></li>
			<%  } if(user['role']!='anonyme'){ %>
			<li><a href="/guildmaster/profil" class="texte-header">Profil</a></li>
			<%  } if(user['role']!='anonyme'){ %>
			<li><a href="/guildmaster/inventaire" class="texte-header">Inventaire</a></li>
			<%  } if(user['role']!='anonyme'){ %>
			<li><a href="/guildmaster/personnel" class="texte-header">Personnel</a></li>
			<%  } if(user['role']!='anonyme'){ %>
			<li><a href="/guildmaster/quete" class="texte-header">Quête</a></li>
			<%  } if(user['role']!='anonyme'){ %>
			<li><a href="/guildmaster/deconnexion" class="texte-header">Déconnexion</a></li>
			<%  } %>
  		</ul>
	</div>
</nav>
	