</head>
<body>
<nav id="primary-bar" class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="/guildmaster">Accueil</a>
  		</div>
  		<% if(role['role']=='anonyme'){ %>
  		<form class="navbar-form navbar-left" role="search">
  			<button type="submit" class="btn btn-default">Inscription</button>
  			<button type="submit" class="btn btn-default">Connexion</button>
  		</form>
  		<% } %>
  		<ul class="nav navbar-nav">
			<% if(role['role']=='admin'){ %>
			<li><a href="/guildmaster/gestion">Gestion utilisateurs</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/profil">Profil</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/inventaire">Inventaire</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/personnel">Personnel</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/quete">Quête</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/deconnexion">Déconnexion</a></li>
			<%  } %>
  		</ul>
	</div>
</nav>
	<% include ./scriptGeneral.ejs %>