</head>
<body>
<nav id="primary-bar" class="navbar navbar-default">
  	<div class="container-fluid">
  		<div class="navbar-header">
  		</div>
  		<ul class="nav navbar-nav navbar-left">
  			<li><a href="/guildmaster/accueil" id="icon-home">&#xf015</a></li>
  		</ul>
  		<ul class="nav navbar-nav navbar-right">
  			<% if(role['role']=='anonyme'){ %>
  			<li><a href="/guildmaster/inscription" class="lien-actif">Inscription</a></li>
  			<li><a href="/guildmaster/connexion">Connexion</a></li>
			<%  } if(role['role']=='admin'){   %>
			<li><a href="/guildmaster/gestion">Gestion utilisateurs</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/profil">Profil</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/inventaire">Inventaire</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/personnel">Personnel</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/quete">Quête</a></li>
			<%  } if(role['role']!='anonyme'){ %>
			<li><a href="/guildmaster/deconnexion">Déconnexion</a></li>
			<%  } %>
  		</ul>
	</div>
</nav>
	<% include ./scriptGeneral.ejs %>