<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div id=cssmenu>
<ul>
 <li><a href="/guildmaster">accueil</a></li>
 <% if(role['role']=='anonyme'){ %>
 <li><a href="/guildmaster/inscription">inscription</a></li>
 <li><a href="/guildmaster/connexion">connexion</a>
 <%  } if(role['role']=='admin'){ %>
 <li><a href="/guildmaster/gestion">gestion utilisateurs</a></li>
 <%  } if(role['role']!='anonyme'){ %>
 <li><a href="/guildmaster/profil">profil</a></li>
  <%  } if(role['role']!='anonyme'){ %>
 <li><a href="/guildmaster/inventaire">inventaire</a></li>
   <%  } if(role['role']!='anonyme'){ %>
 <li><a href="/guildmaster/personnel">personnel</a></li>
   <%  } if(role['role']!='anonyme'){ %>
 <li><a href="/guildmaster/quete">quete</a></li>
 <%  } if(role['role']!='anonyme'){ %>
 <li><a href="/guildmaster/deconnexion">deconnexion</a></li>
 <%  } %>
</ul>
</div>
<br>
