<!DOCTYPE html>

<html>
    <head>
        <title>Inscription</title>
     <% include ./header.ejs %>

	 <form id="send" action="/guildmaster/inscription/validation" method="post">
	    <p>
			<label for="register">pseudo </label>
		        <input type="text" name="pseudo" id="pseudo" required/><br>
 	    </p>
	    <p>
			<label for="register">Mot de passe </label>
		        <input type="password" name="mdp" id="mdp" required/><br>
 	    </p>
	    <p>
			<label for="register">adresse mail </label>
		        <input type="email" name="email" id="email" required/><br>
 	    </p>
	    <p>
		        <input type="submit" />
	    </p>
	</form>
    </body>
</html>


