<!DOCTYPE html>

<html>
    <head>
	<link rel="stylesheet" href="/styles.css" type="text/css">
        <title>Quete</title>
    </head>

    <body>
     <% include ./header.ejs %>

<br>
    </body>
</html>
